/* 
CSS for our site 
*/



body {
	margin: auto;
	background-color: #FFFF66;	
	line-height: 125%;
	padding: 0px;
	}

footer {
	background-color: #ddccff;
	}

h1 {
	color: #170B3B;
	font-family: serif;
	font-size: xxx-large;
	font-weight: bold;
	}
h2 {
	color: blue;
	font-family: sans-serif;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	}
h3 {
	color: blue;
	font-family: sans-serif;
	font-size: medium;
	font-weight: normal;
	}

nav {
	font-family: Arial;
	font-size: 18px;
	font-weight: 500;
	margin: 0px; /*for display only*/
	padding: 0px;
	position:relative;
	z-index:1;
	float: left;
	}
 
p {
	color: black;
	font-weight: normal;
	}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
/*
ids can only be used once in a webpage.
*/

#nav{
	clear:left;
	}

#logo{
	float:left;
	}

#sitename{
	font-family: times;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	width: 300px;
	float:left;
	}
#slide{
	float:left;
	}

#header{
	position:relative;
	height:440px;
	}

#mainbody{
	position:relative;
	padding: 0 px;
	width: 100%;
	}

#bodycontent {
	position:relative;
	padding: 0 px;
	width: 100%;
	}







#morebodycontent {
	position:relative;
	padding: 0 px;
	width: 100%;
	height: auto;
	}

#footer {
	text-align: center;
	position:relative;
	}

#header, #menu, #bodycontent, #morebodycontent, #footer {
	}

#slide {
	width:300px;
	height: 300px;
	}



/*
classes can appear in a webpage as many times as you want.
*/
.fun {
	color: #339999;
	font-family: times, georgia, serif;
	}
.titlebar {
	font-family: times;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	}




.menu-item {
  width: 150px; /*Sets width of each menu column*/
  margin: 5px;  /*Sets space horizontally between menu columns*/
  position:relative;
  float: left; /*Makes menu horizontal*/
   
}


/*h4 styles*/
.menu-item h4 {
  color: #fff;
  text-align: center;
  background: #9FF781;
  border-bottom:1px solid rgba(160,160,164,1);
  border-top:1px solid rgba(160,160,164,1);
  border-left:1px solid rgba(160,160,164,1);
  border-right:1px solid rgba(160,160,164,1);
  border-radius:3px;
  margin: 0px;
  padding: 0px;
}



.menu-item h4 a {
  color: black;
  width:150px;
  height:50px;
  display:block;
  text-decoration: none;
}


.menu-item h4:hover {
 	font-weight: bold;
}


/*ul Styles*/
.menu-item ul {
  background: #9FF781;
  text-align:center;
  list-style-type: none;
  padding: 0px;
  height: 0px; /*Collapses the menu*/
  overflow: hidden;

 /*Animation*/
  -webkit-transition: height 1s ease; /* safari */
     -moz-transition: height 1s ease; /* mozilla */
       -o-transition: height 1s ease; /* opera */
      -ms-transition: height 1s ease; /* microsoft*/
          transition: height 1s ease; 
}
 
.menu-item ul a {
  text-decoration: none;
  color: black;
  display: block;
  width:150px;
  height:50px;

}
 
/*li Styles*/
.menu-item li {
  border-bottom:1px solid rgba(160,160,164,1);
  border-top:1px solid rgba(160,160,164,1);
  border-left:1px solid rgba(160,160,164,1);
  border-right:1px solid rgba(160,160,164,1);
  border-radius:3px;
  width:150px;
  height:50px;
  display:block;
		
}
 
.menu-item li:hover {  
  font-weight: bold;
}

.menu-item:hover1 ul {/*This is the base example for dropdown menu lists.*/
  height: 156px;/*Height of menu.  52px*number of li*//*if height:auto; dropdown pops down*/
}

.menu-item:hover .castes {
  height: 156px;/*Height of menu.  52px*number of li*/
}

.menu-item:hover .pest {
  height: 312px;/*Height of menu.  52px*number of li*/
}

.menu-item:hover .ourwork {
  height: 416px;/*Height of menu.  52px*number of li*/
}

.menu-item:hover .contact {
  height: 52px;/*Height of menu.  52px*number of li*/
}

.slideshow {
	width:300px;
	height:300px;
	border: none;
	}

